* {
    box-sizing: border-box;
}

.website-background {
    background: no-repeat center center fixed;
    background-size: cover;
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url(Backgrounds/body-background83.jpg);

      position: fixed;
       z-index: -2;
       width: 100%;
       height: 100%;
       filter: blur(0px);
       left: 0;
       padding: 5px;
}

/* The actual timeline-timeline (the vertical ruler)  */
.timeline-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    grid-column: 1 / 4;
    margin-top: 40px;
}

/* The actual timeline-timeline (the vertical ruler) */
.timeline-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* container-timeline around content */
.container-timeline {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
    width: 44%;
}

/* The circles on the timeline-timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -87px;
    background-color: white;
    border: 4px solid #0077B5;
    top: -4px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container-timeline to the left */
.left-timeline {
    left: 0px;
}

/* Place the container-timeline to the right */
.right-timeline {
    left: 50%;
}

/* Add arrows to the left container-timeline (pointing right) */
.left-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    right: -30px;
    border: medium solid white;
    border-width: 0 0 25px 30px;
    border-color: transparent transparent transparent #0077B5;

}

/* Add arrows to the right container-timeline (pointing left) */
.right-timeline::before {
    content: "";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0px;
    z-index: 1;
    left: -30px;
    border: medium solid white;
    border-width: 0px 30px 25px 0;
    border-color: transparent #0077B5 transparent transparent;
}

/* Fix the circle for container-timelines on the right side */
.right-timeline::after {
    left: -86px;
}

/* The actual content */
.content-timeline {
    padding: 20px 30px;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    border-radius: 0px;
    margin-top: 0px;
}

.container-timeline.right-timeline {
margin-left: 70px;
}

h4 {
  height: 50px;
  color: white;
  background-color: #0077B5;
  margin-top: -20px;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 12px;
}

.padding-h4 {
  padding-bottom: 50px;
}

/* START: HEADER, BANNER, ABOUT ME section */
body {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}


body {
  width: 1200px;
  height: 770px;/*Check 1: if the width must be specified*/
  display: grid;
  grid-template-columns: 200px 10fr 350px;
  grid-template-rows: 50px 250px;

  font-family: 'Lora', serif;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: -40px;
  padding-right: 40px;
  /*Changed header position to move left*/
  right: 40px; /*Changed header position to move left*/
  /*START position fixed*/
  position: fixed;
  background: no-repeat center center fixed;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(Backgrounds/body-background83.jpg);
    background-size: cover;
    z-index: 4;
    width: 100%;
    max-width: 100%;
    min-width: 550px;



  /*END position fixed*/
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.relative {
  position: relative;
}

header li {
display: inline-block;
margin: 10px;
font-size: 20px;
color: white;
transition: all .2s ease-in-out;
padding: 7px;
margin-bottom: -10px;
margin-top: -10px;
margin-left: -5px;
}

header li:hover {

  color: black;
  background-color: white;
  padding: 7px;
  font-size: 20px;
  cursor:pointer;
}



main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-left: 20px;
  padding: 10px;
}

.main {
  display: inline-block;
}

.main a {
  display: inline-block;
  margin: 0;
  padding: 0px;
  margin-right: 10px;
  list-style: none;
  color: #0077B5;
  text-decoration: none;
  font-size: 30px;
}

main ul {
  margin-left: -40px;
}

.image-background {
  width: 220px;
  margin-top: 65px;
}

  main h1{
    font-size: 50px;
  }

  main h2 {
    margin-top: -20px;
  }

.image {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
}

.icon-bar {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-self: flex-end;
  width: 350px;
  padding-left: 20px;
}

.icon-bar-ul li {
  display: block;
  margin-top: 60px;
  margin-bottom: -60px;
}

.icon-bar-ul h1 {
  font-size: 30px;
}

.icon-bar-ul a{
  list-style: none;
  text-decoration: none;
}

.icon-bar-ul li a i {
  font-size: 25px;
  color: #708090;
}
.icon-bar-ul li a, h2 {
  display: inline-block;
  color: black;
}

.padding-italic-f-weight {
  padding-left: 10px;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
}
.icon-bar-ul li a {
  padding-top: 17px;
}

.about-me {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  border-bottom: 2px solid white;
  border-top: solid 2px white;

}



header a {
  text-decoration: none;
  color: inherit;
}

.about-me p {
text-align: justify;
}

.overlay {
  display: none;
}

/* Mobile Version */
@media  (max-width: 415px) {


  body {
    width:100%;
  }
  .website-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-color: rgb(232,232,232);
    background-image: none;
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3));
        z-index: -4;
  }

  .image-background {
    display:;
  }

  main {
    display:;
  }

.icon-bar {
  display: none;
}

.about-me {
  width: 360px;
  padding-left: 5px;
}


.timeline-timeline {
    position: relative;
    margin: 0;
    grid-column: 1 / 4;
    margin-top: 40px;
    margin-left: -98%;
}

.left-timeline {
  left: 56%;
}

.left-timeline::before {
    content: "";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0px;
    z-index: 1;
    left: -30px;
    border: medium solid white;
    border-width: 0px 30px 25px 0;
    border-color: transparent #0077B5 transparent transparent;
}

/* Fix the circle for container-timelines on the right side */
.left-timeline::after {
    left: -86px;
}
.container-timeline {
  width: 31%;
}

.content-timeline {
    padding: 25px 30px;
   }

h4 {
  font-size:13px;
  padding-left: 15px;
}

.header {
  min-width: 100%;

  background-image: none;
  background-color: transparent;
  z-index: 100;
}
.display-none-if {
  display: none;
}

main h2 {
  padding-top: 80%;
}

header {
  margin-top: -10px;
  height: 45px;
}

header li {
font-size: 14px;
}
.active {
   background-color: #0077B5;
}
.left-if {
margin-left: -30px;
}


}
